@import '~bootstrap/dist/css/bootstrap.css';

.user_name {
  color :#133c9c;
}
.primary-nav {
  background-color: rgb(16, 89, 153);
  padding: 16px 32px;
  font-size: 22px;
  font-weight: 500;

  font-family: sans-serif;
}

nav a {
  margin-right: 20px;
  color: #FFF;
}

nav a:hover {
  margin-right: 20px;
  color: rgb(14, 1, 1);
}

h1 , h2 {
  margin-top: 20px;
  margin-left: 15pxpx;
  margin-bottom: 20px;}

form  {
  height: 100vh;
  display: block;
  /* align-items: center; */
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sans-serif;
  font-size: 18px;
}

.bottom-center-btn ,button{
  justify-content: center;
  align-items: center;
  color: #FFF;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(16, 89, 153);
}

.analyze-history-dropbx{
  display: inline-flex;
  padding: 10px 15px;
  border-radius: 8px;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  font-weight: 700;
  color :#FFF;
  cursor: pointer;
}


form .form-inner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;
  align-items: center;
  justify-content: center;
  height: 100vh;
  outline-style: outset;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: #fff */
}

form .form-inner h2 {
  color:rgb(16, 89, 153);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;

}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;

}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label{
  color: rgb(16, 89, 153);
}

form .form-inner .form-group input{
  display: block;
  width: 100%;
  padding:  10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;

}

form .form-inner .form-group input:focus{
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

form .form-inner input[type="submit"],
.welcome button{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right,#133c9c 50%, #3e3c33 50%,  #898284 );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  font-weight: 700;
  color :#FFF;
  cursor: pointer;

}

form .form-inner [type="reset"]{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right,#3e3c33 50%,#133c9c 50%, #898284 );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  font-weight: 700;
  color :#FFF;
  cursor: pointer;
  margin-left: 40px;
}

form .form-inner input[type="submit"]:hover,input[type="reset"]:hover,
.welcome button:hover{
  background-position: 100% 0%;
}

/* ------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#result-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#result-table td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#result-table tr:nth-child(even){background-color: #f2f2f2;}

#result-table tr:hover {background-color: #ddd;}

#result-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5ba4e7;
  color: white;
}